Django
djangorestframework<3.12
django-cors-headers
ruamel.yaml>=0.15.34,<0.16.0
packaging
drf_yasg
gunicorn
python-logstash
djangorestframework-jwt
django-cron
pymongo
pycodestyle
django-jenkins
coverage==4.5.4
mock
mongomock
pycobertura
numpy
requests
pandas
xlrd
ipysheet
plotly
scipy
